<style>
    .scrollmenu{
        width: 350px;
        height: 390px;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .todos__item_button-action {
        span {
            display: block;
        }
    }
</style>

<li class="todos__item {{completedClass}}">
    <span>{{ name }}</span>
    <a class="todos__item_button-action" href="/categories/{{value}}">
        <span class="todos__item_form-text"></span>
    </a>
</li>



